:root {
    --spotify-green: #1db954;
    --graying: #333;
    --linearPink: linear-gradient(to left, rgb(121, 27, 121), rgb(206, 62, 86));
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


body{
    background: var(--graying);
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
    transition: background-color 1s ease;
}

h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    text-align: center;
    color: #1283cf;
    margin-bottom: 20px;
}



.container, .container2{
    background: rgba(255, 255, 255, 0.95);
    padding: 40px;
    backdrop-filter: blur(10px);
    max-width: 600px;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 6px 24px #000;
}

.container2{
    display: none;
}

.tabs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}

#Encrypt, #Decrypt{
    padding: 15px;
    width: 260px;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 600;
}

#Encrypt{
    background: linear-gradient(to bottom right, #0099ff, #1db954);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: white;
}

#Encrypt:hover{
    background: linear-gradient(to bottom right, #0586db, #189e47);
}

#Decrypt{
    background: #9e9e9e;
    color: rgb(3, 3, 3);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}


button:hover{
    cursor: pointer;
}


.upload-tab{
    border-style: dashed;
    border-color: #189e47;
    padding: 40px;
    border-radius: 10px;
    max-width: 600px;
    width: 100%;
    margin-bottom: 10px;
    background-color: #dddddd;
}

.upload-tab:hover{
    cursor: pointer;
    background-color: rgb(233, 229, 229);
    transform: translateY(-3px);
    transition: all 0.3s ease;
}

.upload-icon{
    align-items: center;
    text-align: center;
    font-size: 60px;
}

h3{
    color: #181616;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #757373;
}

#fileInput{
    display: none;
}

.lower-tabs{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#password, #password2{
    width: 600px;
    height: 50px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    border: 2px solid #189e47;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

#password:focus, #password2:focus{
    border-color: #0099ff;
    outline: none;
}

#password::placeholder{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: #000;
    text-align: center;
}

#password2::placeholder{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: #000;
    text-align: center;
}

#DecryptFileBtn, #EncryptFileBtn{
     padding: 10px;
    width: 150px;
    margin-top: 10px;
    background: linear-gradient(to bottom right, #0099ff, #1db954);
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    color: white;
    margin-left: 170px;
}

#EncryptFileBtn:hover{
    background: linear-gradient(to bottom right, #097cc9, #149641);
}

.file-info {
            background: #f8f9fa;
            border-radius: 8px;
            padding: 15px;
            margin-bottom: 20px;
            color: #000;
            border-left: 4px solid #189e47;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        .file-info:hover{
            cursor: pointer;
        }

        .file-name {
            font-weight: 600;
            margin-bottom: 5px;
        }

        .file-size {
            color: #666;
            font-size: 14px;
        }

        /*Decrypt Styling*/

#Encrypt2, #Decrypt2{
    padding: 15px;
    width: 260px;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 600;
}

#Encrypt2{
    background: #9e9e9e;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: rgb(27, 26, 26);
}

#Decrypt2:hover{
    background: linear-gradient(to bottom right, #0586db, #189e47);
}

#Decrypt2{
    background: linear-gradient(to bottom right, #0099ff, #1db954);
    color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/*Download button*/

#download-encrypted-file, #download-decrypted-file{
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    max-width: 600px;
    background: #0099ff;
    border: none;
    border-radius: 10px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

#download-encrypted-file:hover, #download-decrypted-file:hover{
    background-color: #1283cf;
    transform: translateY(-3px);
    transition: all 0.3s ease;
}

.download-tab{
    display: none;
}

#note{
    padding: 25px;
    max-width: 320px;
    width: 100%;
    display: none;
    margin-top: -570px;
    position: absolute;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-weight: 600;
    right: 21px;
    border-radius: 13px;
    border: none;
    border-right: 8px solid #000000;
    background: linear-gradient(to bottom left, #0586db, #149641);
}